/* .slider {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #4f4a4a;
    /* Light gray background 
    border-radius: 5px;
    /* Rounded corners */
/* overflow: hidden; */
/* Hide overflow from slider__bar 
}

.slider__range {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.slider__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #999;
    /* Gray color 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider__indicator {
    color: #fff;
    /* White color 
} */